.site-layout {
  height: 100vh;
}

.content {
  padding: 25px;
}

.site-layout-content {
  height: 100%;
  padding: 24px;
  background: #fff;
}

.header {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
}

.new-image-div {
  width: 90%;
  margin: 0 auto;
}

.sample-list {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0 10px 0;
  border-radius: 10px;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
}

.sample-list div img {
  margin: 5px;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
}

.sample-list div:hover {
  -webkit-filter: brightness(80%);
  filter: brightness(80%);
}

.image-view {
  text-align: center;
}

.image-view img {
  border-radius: 10px;
  max-width: 90%;
  max-height: 70vh;
}

.image-view Button {
  margin-top: 20px;
}

.camera-details-view {
  height: 100vh;
  overflow: scroll;
  padding: 20px;
  scrollbar-width: thin;
}

.metadata-view {
  height: 100vh;
  overflow: scroll;
  padding: 20px;
  scrollbar-width: thin;
}

.metadata-section {
  margin-bottom: 20px;
}

.metadata-subheading {
  text-align: center;
  margin-bottom: 7px;
}

.curves {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 
Responsive
----------
*/

.mobile-visible {
  display: none;
}

.tablet-visible {
  display: none;
}

.desktop-visible {
  display: block;
}

.desktop-hidden {
  display: none;
}

/* Tablets */
@media (min-width: 820px) and (max-width: 1040px) {
  .mobile-visible {
    display: none;
  }

  .tablet-visible {
    display: block;
  }

  .desktop-visible {
    display: none;
  }

  .desktop-hidden {
    display: block;
  }

  .site-layout-content {
    height: auto;
  }

  .content {
    padding: 0px;
  }

  .details {
    height: 100%;
    border-top: solid 2px gray;
  }

  .details > div {
    height: 100%;
    width: 50%;
    background-color: #e0e0e0;
    padding: 20px;
  }

  .camera-details-view {
    float: left;
  }

  .metadata-view {
    float: right;
    overflow-y: scroll;
    border-left: solid 2px lightgray;
  }
}

/* Mobile */
@media only screen and (max-width: 820px) {
  .mobile-visible {
    display: block;
  }

  .tablet-visible {
    display: none;
  }

  .desktop-visible {
    display: none;
  }

  .desktop-hidden {
    display: block;
  }

  .site-layout {
    height: auto;
  }

  .site-layout-content {
    height: auto;
  }

  .content {
    padding: 0px;
  }

  .new-image-div {
    width: 80vw;
    margin: 0 auto;
  }

  .sample-list {
    width: 90%;
  }

  .image-view img {
    max-width: 70vw;
    max-height: 70vh;
  }

  .details {
    overflow: scroll;
    background-color: #e0e0e0;
  }
}
